{:kotoba.app/id "cloud.itonami.isic-1010", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieigh45wwmaucorq2y73fk5bu3yzosd7awwj6nt5xqwyahud2leb4", :kotoba.app/embed-url "ipfs://bafkreieigh45wwmaucorq2y73fk5bu3yzosd7awwj6nt5xqwyahud2leb4", :published {:archive "https://kotobase.net/ipfs/bafkreieigh45wwmaucorq2y73fk5bu3yzosd7awwj6nt5xqwyahud2leb4", :size 72634, :put-status 201, :get-status 200, :at "2026-08-15T13:43:11.343Z"}}
